---
import Layout from "../../layouts/Layout.astro";
import AppScrollableSections from "../../components/AppScrollableSections.vue";
import AppTitlePanel from "../../components/AppTitlePanel.vue";
import AppContentPanel from "../../components/AppContentPanel.vue";

import { getTranslator } from "../../i18n";

const locale = Astro.currentLocale ?? "en";
const t = getTranslator( locale );
---

<Layout>
    <AppScrollableSections client:load>
        <AppTitlePanel title={t('games-title')} >
            <p>{t('games-subtitle')}</p>
        </AppTitlePanel>
    </AppScrollableSections>
</Layout>