/************************************************************************************
░██████╗████████╗██╗░░░██╗██╗░░░░░███████╗░██████╗░░░░██████╗░█████╗░░██████╗░██████╗
██╔════╝╚══██╔══╝╚██╗░██╔╝██║░░░░░██╔════╝██╔════╝░░░██╔════╝██╔══██╗██╔════╝██╔════╝
╚█████╗░░░░██║░░░░╚████╔╝░██║░░░░░█████╗░░╚█████╗░░░░╚█████╗░██║░░╚═╝╚█████╗░╚█████╗░
░╚═══██╗░░░██║░░░░░╚██╔╝░░██║░░░░░██╔══╝░░░╚═══██╗░░░░╚═══██╗██║░░██╗░╚═══██╗░╚═══██╗
██████╔╝░░░██║░░░░░░██║░░░███████╗███████╗██████╔╝██╗██████╔╝╚█████╔╝██████╔╝██████╔╝
╚═════╝░░░░╚═╝░░░░░░╚═╝░░░╚══════╝╚══════╝╚═════╝░╚═╝╚═════╝░░╚════╝░╚═════╝░╚═════╝░
************************************************************************************/

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Klee+One');
@font-face {
	font-family: 'Komorebi Gothic';
    font-style: normal;
	src: url(/fonts/komorebi-gothic.ttf);
}

// fonts
$title-font: 'M PLUS Rounded 1c', sans-serif;
$menu-font: 'Komorebi Gothic', 'Sawarabi Gothic', sans-serif;
$alphabet-font: 'Klee+One';
$cursive-font: 'Sacramento', cursive;

// colors
$colors: (
    normal: (
        main-color: #00CED1, // DarkTurquoise
        base-color: #E4E4E4,
        accent-color: #8FBC8F // DarkSeaGreen
    ),
    index: (
        main-color: #90F59A,
        base-color: #E4E4E4,
        accent-color: #90D1F5
    )
);

@function color($type, $page: normal, $default: map-get(map-get($colors, normal), base-color)) {
    @if map-has-key($colors, $page) {
        @if map-has-key(map-get($colors, $page), $type + "-color") {
            @return map-get(map-get($colors, $page), $type + "-color");
        } @else {
            @return $default;
        }
    } @else {
        @warn "specified unexpected page: " + $page;
        @return $default;
    }
}

// images
$background-image: url(background-image.jpg);

// numerics
$body-length: 100vmin;

// components
%body {
    position: relative;
    padding: 0;
    margin: auto;
}

%header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

%footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@mixin blur($image: $background-image) {
    background-image: $image;
    background-repeat: no-repeat;
    background-size: contain;
    @content;
}

%blur-before {
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background: inherit;
    filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

// events
@mixin hover($ie: false) {
    &:focus {
        @content;
    }
    
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }

    @if $ie {
        @at-root .ua-ie &:hover {
            @content;
        }
    }
}
