@use "utils" as *;
@use "sass:color";
@use "sass:math";

/* background */
.background-animation {
    position: relative;
    &-shape {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100vmin;
        height: 100vmin;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        background-image: linear-gradient(color(accent), color.change(color(accent), $blue: calc(color.blue(color(accent)) / 3)));
        filter: blur(calc(100vmin / 5));
        animation: background-shape 10s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
        @keyframes background-shape {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    }
}

/* content */
.top-card {
    display: flex;
    @include orientation();
}