@charset "UTF-8";
/************************************************************************************
░██████╗████████╗██╗░░░██╗██╗░░░░░███████╗░██████╗░░░░██████╗░█████╗░░██████╗░██████╗
██╔════╝╚══██╔══╝╚██╗░██╔╝██║░░░░░██╔════╝██╔════╝░░░██╔════╝██╔══██╗██╔════╝██╔════╝
╚█████╗░░░░██║░░░░╚████╔╝░██║░░░░░█████╗░░╚█████╗░░░░╚█████╗░██║░░╚═╝╚█████╗░╚█████╗░
░╚═══██╗░░░██║░░░░░╚██╔╝░░██║░░░░░██╔══╝░░░╚═══██╗░░░░╚═══██╗██║░░██╗░╚═══██╗░╚═══██╗
██████╔╝░░░██║░░░░░░██║░░░███████╗███████╗██████╔╝██╗██████╔╝╚█████╔╝██████╔╝██████╔╝
╚═════╝░░░░╚═╝░░░░░░╚═╝░░░╚══════╝╚══════╝╚═════╝░╚═╝╚═════╝░░╚════╝░╚═════╝░╚═════╝░
************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Gothic");
@import url("https://fonts.googleapis.com/css?family=Sacramento");
@import url("https://fonts.googleapis.com/css?family=Klee+One");
@font-face {
  font-family: "Komorebi Gothic";
  font-style: normal;
  src: url(/fonts/komorebi-gothic.ttf);
}
.body {
  position: relative;
  padding: 0;
  margin: auto;
}

.body .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.body .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.body .footer .footer-icon {
  transition: all 0.2s 0s ease-out;
}
.body .footer .footer-icon:hover {
  transform: scale(1.3);
}

.body .content-body::before {
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  background: inherit;
  filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

*[class^=en-] {
  display: none;
}

.body {
  width: 100vmin;
  height: 100vmin;
}
@media only screen and (min-width: 491px) {
  .body {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 443px) and (max-width: 490px) {
  .body {
    font-size: calc(1.48rem + ((1vw - 0.443rem) * (2.5531914894)));
  }
}
@media only screen and (min-width: 396px) and (max-width: 442px) {
  .body {
    font-size: calc(1.36rem + ((1vw - 0.396rem) * (2.6086956522)));
  }
}
@media only screen and (min-width: 348px) and (max-width: 395px) {
  .body {
    font-size: calc(1.24rem + ((1vw - 0.348rem) * (2.5531914894)));
  }
}
@media only screen and (min-width: 301px) and (max-width: 347px) {
  .body {
    font-size: calc(1.12rem + ((1vw - 0.301rem) * (2.6086956522)));
  }
}
@media only screen and (max-width: 300px) {
  .body {
    font-size: calc(0rem + ((1vw - 0rem) * (3.7333333333)));
  }
}
.body .header {
  height: 10%;
}
.body h2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
}
@media only screen and (min-width: 491px) {
  .body h2 {
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 443px) and (max-width: 490px) {
  .body h2 {
    font-size: calc(2.68rem + ((1vw - 0.443rem) * (6.8085106383)));
  }
}
@media only screen and (min-width: 396px) and (max-width: 442px) {
  .body h2 {
    font-size: calc(2.36rem + ((1vw - 0.396rem) * (6.9565217391)));
  }
}
@media only screen and (min-width: 348px) and (max-width: 395px) {
  .body h2 {
    font-size: calc(2.04rem + ((1vw - 0.348rem) * (6.8085106383)));
  }
}
@media only screen and (min-width: 301px) and (max-width: 347px) {
  .body h2 {
    font-size: calc(1.72rem + ((1vw - 0.301rem) * (6.9565217391)));
  }
}
@media only screen and (max-width: 300px) {
  .body h2 {
    font-size: calc(0rem + ((1vw - 0rem) * (5.7333333333)));
  }
}
.body .content-body {
  background-image: url(background-image.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  z-index: 0;
}
.body .content-body::before {
  content: "";
  position: absolute;
  z-index: -1;
}
.body .content-body .content-titlebox {
  position: absolute;
  bottom: 15vmin;
  left: 7.5vmin;
  width: 35vmin;
  padding: 0.3em;
  background-color: rgba(0, 0, 0, 0.4);
  color: #dfdfdf;
}
.body .content-body .content-titlebox .content-title, .body .content-body .content-titlebox .content-subtitle {
  font-weight: normal;
}
@media only screen and (min-width: 491px) {
  .body .content-body .content-titlebox .content-subtitle {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 443px) and (max-width: 490px) {
  .body .content-body .content-titlebox .content-subtitle {
    font-size: calc(1.48rem + ((1vw - 0.443rem) * (6.8085106383)));
  }
}
@media only screen and (min-width: 396px) and (max-width: 442px) {
  .body .content-body .content-titlebox .content-subtitle {
    font-size: calc(1.16rem + ((1vw - 0.396rem) * (6.9565217391)));
  }
}
@media only screen and (min-width: 348px) and (max-width: 395px) {
  .body .content-body .content-titlebox .content-subtitle {
    font-size: calc(0.84rem + ((1vw - 0.348rem) * (6.8085106383)));
  }
}
@media only screen and (min-width: 301px) and (max-width: 347px) {
  .body .content-body .content-titlebox .content-subtitle {
    font-size: calc(0.52rem + ((1vw - 0.301rem) * (6.9565217391)));
  }
}
@media only screen and (max-width: 300px) {
  .body .content-body .content-titlebox .content-subtitle {
    font-size: calc(0rem + ((1vw - 0rem) * (1.7333333333)));
  }
}
.body .footer .waves-svg {
  position: relative;
  margin-bottom: -7px;
  width: 100%;
  height: 10vmin;
}
.body .footer .parallax > use {
  animation: waving 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.body .footer .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: rgba(144, 245, 154, 0.4);
}
.body .footer .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: rgba(144, 245, 154, 0.6);
}
.body .footer .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: rgba(144, 245, 154, 0.8);
}
.body .footer .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: rgba(144, 245, 154, 0.2);
}
@keyframes waving {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
.body .footer .footer-content {
  position: relative;
  height: 5vmin;
  display: flex;
  text-align: center;
  background-color: #90F59A;
}
.body .footer .footer-content > .footer-credit {
  width: calc(100% - 50px);
}
.body .footer .footer-content > .footer-links svg[class$=-icon] {
  width: 3vmin;
  height: 3vmin;
}/*# sourceMappingURL=index.css.map */