@charset "UTF-8";
/************************************************************************************
░██████╗████████╗██╗░░░██╗██╗░░░░░███████╗░██████╗░░░░██████╗░█████╗░░██████╗░██████╗
██╔════╝╚══██╔══╝╚██╗░██╔╝██║░░░░░██╔════╝██╔════╝░░░██╔════╝██╔══██╗██╔════╝██╔════╝
╚█████╗░░░░██║░░░░╚████╔╝░██║░░░░░█████╗░░╚█████╗░░░░╚█████╗░██║░░╚═╝╚█████╗░╚█████╗░
░╚═══██╗░░░██║░░░░░╚██╔╝░░██║░░░░░██╔══╝░░░╚═══██╗░░░░╚═══██╗██║░░██╗░╚═══██╗░╚═══██╗
██████╔╝░░░██║░░░░░░██║░░░███████╗███████╗██████╔╝██╗██████╔╝╚█████╔╝██████╔╝██████╔╝
╚═════╝░░░░╚═╝░░░░░░╚═╝░░░╚══════╝╚══════╝╚═════╝░╚═╝╚═════╝░░╚════╝░╚═════╝░╚═════╝░
************************************************************************************/
/* meta functions */
/* fonts */
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
@import url("https://fonts.googleapis.com/css?family=Sawarabi+Gothic");
@import url("https://fonts.googleapis.com/css?family=Sacramento");
@import url("https://fonts.googleapis.com/css?family=Klee+One");
@font-face {
  font-family: "Komorebi Gothic";
  font-style: normal;
  src: url(/fonts/komorebi-gothic.ttf);
}
/* colors */
/* images */
/* layouts */
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.full-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80vh;
  width: 80vw;
  margin: auto;
}

/* components */
.card {
  padding: 0.75em;
  border-radius: 10px;
  border: rgba(255, 255, 255, 0.2) solid 1px;
  background: rgba(207, 207, 207, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.card-title-box {
  position: relative;
  display: flex;
  height: 100%;
  padding-right: 1.1rem;
  margin-right: 1rem;
  align-items: flex-end;
  align-content: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (orientation: landscape) {
  .card-title-box {
    flex-direction: column;
  }
}
@media (orientation: portrait) {
  .card-title-box {
    flex-direction: row;
  }
}
.card-title-box:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%; /*線の上下位置*/
  display: inline-block;
  width: 0.1rem;
  height: 20rem;
  transform: translateY(-50%);
  background-color: #545454;
}
.card-title-text {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 3rem;
}
.card-title-sub {
  font-family: "Komorebi Gothic", "Sawarabi Gothic", sans-serif;
  font-size: 1rem;
  color: #323232;
}
.card-title-helper {
  align-self: center;
}
.card-title-icon {
  width: 1.5em;
  height: 1.5em;
}

/* effects */
/* events */
/* Others */
::-moz-selection {
  background-color: rgba(152, 251, 152, 0.3);
  color: rgb(0, 128, 128);
}
::selection {
  background-color: rgba(152, 251, 152, 0.3);
  color: rgb(0, 128, 128);
}

*[class^=en-] {
  display: none;
}

/* background */
.background-animation {
  position: relative;
}
.background-animation-shape {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100vmin;
  height: 100vmin;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  background-image: linear-gradient(#f640ff, #f64055);
  filter: blur(20vmin);
  animation: background-shape 10s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
}
@keyframes background-shape {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* content */
.top-card {
  display: flex;
}
@media (orientation: landscape) {
  .top-card {
    flex-direction: row;
  }
}
@media (orientation: portrait) {
  .top-card {
    flex-direction: column;
  }
}/*# sourceMappingURL=index.css.map */