@use "sass:map";
@use "../styles/variables" as *;

.panel {
    width: 100%;
    height: 100vh;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color: map.get($colors, "text");
    font-size: map.get($typography, "size", "lg");
}