@use "sass:map";
@use "./variables" as *;

.app {
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: map.get($colors, "text");
    font-size: map.get($typography, "size", "xl");
}