/*******************************************************************
██████╗░███████╗░██████╗███████╗████████╗░░░░█████╗░░██████╗░██████╗
██╔══██╗██╔════╝██╔════╝██╔════╝╚══██╔══╝░░░██╔══██╗██╔════╝██╔════╝
██████╔╝█████╗░░╚█████╗░█████╗░░░░░██║░░░░░░██║░░╚═╝╚█████╗░╚█████╗░
██╔══██╗██╔══╝░░░╚═══██╗██╔══╝░░░░░██║░░░░░░██║░░██╗░╚═══██╗░╚═══██╗
██║░░██║███████╗██████╔╝███████╗░░░██║░░░██╗╚█████╔╝██████╔╝██████╔╝
╚═╝░░╚═╝╚══════╝╚═════╝░╚══════╝░░░╚═╝░░░╚═╝░╚════╝░╚═════╝░╚═════╝░
*******************************************************************/
:where(*) {
    margin: 0px;
    padding: 0px;
}

:where(*), :where(*::before), :where(*::after) {
    box-sizing: border-box;
}

:where(html) {
    font-size: 16px;
}

:where(header, footer, main, nav, article, aside, section) {
    display: block;
}

:where(h2) {
    font-size: 30px;
}

:where(ul) {
    padding-left: 1.5em;
    list-style-type: circle;
}

:where(hr) {
    border-image: linear-gradient(to right, transparent, #989898, transparent);
    border-image-slice: 1;
}

:where(a) {
    text-decoration: none !important;
}

:where(code) {
    display: inline-block;
    padding: 0.1em 0.2em;
    background-color: #e7edf3;
    border-radius: 3px;
    font-family: monospace;
}

::marker {
    color: #223222;
}