---
import Layout from "../layouts/Layout.astro";
import AppScrollableSections from "../components/AppScrollableSections.vue";

import "../styles/about.scss";
---

<Layout>
    <AppScrollableSections client:load>
        <section class="panel">最初のコンテンツ</section>
        <section class="panel">2番目のコンテンツ</section>
        <section class="panel">3番目のコンテンツ</section>
    </AppScrollableSections>
</Layout>