---
import Layout from "../layouts/Layout.astro";
import AppScrollableSections from "../components/AppScrollableSections.vue";
import TitlePanel from "../components/AppTitlePanel.vue";
import ContentPanel from "../components/AppContentPanel.vue";
---

<Layout>
    <AppScrollableSections client:load>
        <TitlePanel title="About" >
            <p>About me and this site.</p>
        </TitlePanel>

        <ContentPanel title="About Me">
            <p>Profile comes here.</p>
        </ContentPanel>

        <ContentPanel title="About This Site">
            <p>Description about this site comes here.</p>
        </ContentPanel>
    </AppScrollableSections>
</Layout>