---
import Layout from "../layouts/Layout.astro";
import AppScrollableSections from "../components/AppScrollableSections.vue";
import AppTitlePanel from "../components/AppTitlePanel.vue";
import AppContentPanel from "../components/AppContentPanel.vue";

import { getTranslator } from "../i18n";

const locale = Astro.currentLocale ?? "en";
const t = getTranslator( locale );
---

<Layout>
    <AppScrollableSections client:load>
        <AppTitlePanel title={t('about-title')} >
            <p>{t('about-subtitle')}</p>
        </AppTitlePanel>

        <AppContentPanel title={t('about-me-title')}>
            <p>{t('about-me-content')}</p>
        </AppContentPanel>

        <AppContentPanel title={t('about-site-title')}>
            <p>{t('about-site-content')}</p>
        </AppContentPanel>
    </AppScrollableSections>
</Layout>