---
import Layout from "../layouts/Layout.astro";
import "../styles/index.scss";
---

<Layout>
    <div class="app">
        <main>
            <div
                style="width: 100%; text-align: center;"
            >
                <h1>Welcome to emptyCan's homepage.</h1>
                <p>
                    <br />
                    You can find many stuff here including convenient tools, resources, and games.
                </p>
            </div>
        </main>
    </div>
</Layout>