---
import Layout from "../layouts/Layout.astro";

import "../styles/index.scss";

import { getTranslator } from "../i18n";

const locale = Astro.currentLocale ?? "en";
const t = getTranslator( locale );
---

<Layout>
    <div class="app">
        <main>
            <div
                style="width: 100%; text-align: center;"
            >
                <h1>{ t("index-welcome") }</h1>
                <p>
                    <br />
                    { t("index-description") }
                </p>
            </div>
        </main>
    </div>
</Layout>