---
import AppBackgroundCanvas from "../components/AppBackgroundCanvas.vue";
import AppCursor from "../components/AppCursor.vue";
import AppMenu from "../components/AppMenu.vue";

import "../styles/global.scss";

import { getTranslator } from "../i18n";

const locale = Astro.currentLocale ?? "en";
const t = getTranslator( locale );

const menuItems = [
    { label: t("menu-home"), href: "/" },
    { label: t("menu-about"), href: "/about" },
    { label: t("menu-projects"), href: "/projects" }
];
---

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
        <meta http-equiv="content-language" content="ja">
		<meta name="viewport" content="width=device-width" />
        <meta name="robots" content="index,follow">
        <meta name="keywords" content="emptyCan,Tmv,homepage,website">
        <meta property="og:url" content="https://sousakak.github.io">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>emptyCan</title>
        <meta property="og:title" content="emptyCan">
        <meta name="author" content="emptyCan">
        <meta property="og:type" content="website">
        <meta name="description" content="Personal website by emptyCan">
        <meta name="msapplication-TileColor" content="#000000">
        <meta property="og:site_name" content="Personal website by emptyCan">
        <meta property="og:locale" content="ja_JP">
        <meta name="format-detection" content="email=no,telephone=no,address=no">
	</head>
	<body>
        <AppBackgroundCanvas client:load />
        <AppMenu client:load items={menuItems} />
		<slot />

        <AppCursor client:load />
	</body>
</html>